node_modules/
build/
coverage/
packages/
docs/api/output.json
lerna-debug.log

# MAC
.DS_Store
.vscode

# junk
foo
bar
baz

# archives
*.tar.gz
*.tar

# emacs
*~
\#*
.\#*
*\#
.\*#

#
# Node
# 

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

